.section-contact{
    background-size: cover;
    background-position: left ;
    background-repeat: no-repeat;
    position: relative;
    min-width: 100%;
    margin-top: 150px;
    
    color: #fff;
    height:200vh;
   

}
.contact-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;

}
.tel-numbers{
    border: 0.7rem solid var(--color-secondary);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding:3em 1em;
    min-width: 90%;


}
.tel-number {
    font-size: 0.8em;
    font-family: 'Poppins';
    font-weight: 700;


}
.contact-form{
    display: flex;
    flex-direction: column;
  
}
.title-form p{
    margin-top: 1rem;
    text-align: center;
}
.input-container{
    margin-top: -5em;
}
.input-form{
    display: flex;
    flex-direction: column;
   max-width: 90%;
    justify-content: space-evenly;
    align-items: flex-start;
}
.text-form{
    width: 100%;
    margin:1em 0em;
    padding: 1em 1.6em;
    font-size: 1rem;
    color: rgb(78, 76, 76);
    background-color:  rgb(209, 207, 207) ;
    border: none;
    border-radius: 2%;
}
.text-form:focus{
    background-color: #fff;
}
.input-comment{
    width: 80%;
    margin:1em 0em;
    padding: 1em 1.6em;
    font-size: 1rem;
    color: rgb(78, 76, 76);
    background-color:  rgb(209, 207, 207) ;
    border: none;
    border-radius: 2%;
}
.form-btn{
    padding: 1em 1.6em;
    background: transparent;
    border: 2px solid #fff;
    color:#fff;
    text-transform: uppercase;
    display: block;
}
@media screen and (min-width: 968px) {
    .section-contact{
        height: 100vh;
    }
    .contact-container{
        flex-direction: row-reverse;
    }
    .tel-numbers{
        min-width: 40%;
    }
    .contact-form{
        max-width: 55%;
        height: auto;
    }
    .input-form{
        flex-direction: row;
        gap:1em;
    }
}
