nav {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav-center {
  width: 100vw;
  max-width: 100%;
  z-index: 11;
  position: relative;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.nav-header img {
  height: 3em;
}
.menu {
  position: fixed;
 
  right: 0;
  left: 0;
  top: 0;

  background: rgba(254, 167, 94, 0.9); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

 
  
  animation-name: enter_menu;
  animation-duration: 2s;
}
.no-menu {
  display: none;
}
.nav-links {
  
 height: 100%;
 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  
}
.nav-link{
    font-size: 1.8rem;
    color: black;
}
.close{
    border: 0.1px solid blue;
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 50%;
    animation-name:close_border ;
    animation-duration:2s ;
    

}
@keyframes close_border {
    0%{
        transform: translateY(-100px);
        border: none;
    }
    50%{
        transform: translateY(0px);

    }
    100%{
        border: 0.1px solid blue;
    }
    
}
@keyframes enter_menu {
    0%{
         background: rgba(254, 167, 94, 0.5); 
         transform: translateY(-100px);
    }
    50%{
        background: rgba(254, 167, 94, 0.7);
        transform: translateY(0px);
    }
    100%{
        background: rgba(254, 167, 94, 0.9);
    }
    
}
@media screen and (min-width: 768px) {
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header span {
    display: none;
  }
  .menu {
    position: static;
    background: transparent;
    top: 0px;
    height: auto;
  }
  .no-menu {
    display: block;
  }
  .nav-links {
    position: static;
    flex-direction: row;
  }
  .nav-link {
    margin-right: 6rem;
    font-size:1.2rem;
  }
  .close {
    display: none;
    
  }
}
